---
layout: sidebar
---
<a class="goback" href="javascript:window.history.back();">< Go Back</a>
<h1>[{{ page.categories.last | upcase }}] {{ page.title }}</h1>
{% if page.product %}
  <section class="front-matter">
    <em>{{ site.data.products[page.product].post_description }}</em>
    <div>
      {% for link in site.data.products[page.product].links %}
        <a href="{{ link.url }}">{{ link.name }}</a> {% endfor %}
    </div>
    <div>
      <img src="{{ site.data.products[page.product].main_image }}" alt="main image">
    </div>
  </section>
{% endif %}
<div class="post">
  {{ content }}
</div>
