---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="/assets/css/reset.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/syntax.css" rel="stylesheet">
  </head>
  <body>
    <div class="frame">
      <div class="sidebar">
        <div class="profile">
          <h1>SEUNG<br/>GYU<br/>LEE</h1>
          <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmblogthumb-phinf.pstatic.net%2FMjAxNzA3MjBfMjg5%2FMDAxNTAwNTIwOTI3Mzc0.HxmH06xGG5b3RAiLpwC4NMrz9lZBRu6A76IaNVRKVAQg.an6BtG3ZuEkybDL3IWD-i7AdNDeN7uQUF7Gr-HOmUecg.JPEG.wizpet1756%2F%25EA%25B7%2580%25EC%2597%25AC%25EC%259A%25B4%25EC%2583%258826.jpg%3Ftype%3Dw800&f=1&nofb=1&ipt=8ac2953c4ee0cac888fe0c151656ac77846cc9593da9d372609ddcfbc2afe2dd&ipo=images" alt="profile image">
          <div class="links">
            <h2>Social Links</h2>
            <ul>
              {% for link in site.data.links %}
                <li>
                  <a href="{{ link.link }}">
                    <img src="{{ link.image }}" alt="{{ link.name }}">
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="menu">
          <h1>MENU</h1>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="content-inner">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
